@use './vars';
.main-container{
  padding-top: 20px;
}
.cards-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  gap: 26px;
  place-content: center;
}
.product-card{
  width: var(--card-size);
}
.product-card img {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 30px;
  height: 30px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 16px;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  font-weight: bold;
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
/*responsive design home page*/
@media (max-width: 640px) {
  .cards-container {
      grid-template-columns: repeat(auto-fill, var(--card-size-mobile));
  }
  .product-card{
      width: var(--card-size-mobile);
  }
  .product-card img {
      width: var(--card-size-mobile);
      height: var(--card-size-mobile);
  }
}