@use './vars';

/*my_orders*/
.my-orders {
  width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
}
.my-orders-title {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.my-orders-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  position: relative;
  top: 100px;
}
.my-orders-content {
  display: flex;
  flex-direction: column;
}
.orders {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 8px;
     
}
.orders p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.orders p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.orders p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.orders p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}